.content {
  min-height: 100vh;
  padding: 0 0 100px 0;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.icon {
  font-size: 1.5rem;
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

a, a:hover {
  color: $dark;
}

.dark {
  background-color: $dark;
  color: $light;
  
  input, input:focus {
    color: $light;
    background-color: $dark;
  }
  input:disabled {
    background-color: $black;
  }

  a, a:hover {
    color: $light !important;
  }
}
