.content {
  min-height: 100vh;
  padding: 0 0 100px 0;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.theme:hover {
  text-decoration: underline;
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

.member::placeholder {
  color: $gray-400
}
